<div class="container">
    <div class="login-card">
      <h2>Logowanie</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <!-- Email Label -->
          <label for="email">Email</label>
          
          <!-- Email Input -->
          <input
            id="email"
            type="email"
            formControlName="email"
            placeholder="Podaj email"
          />
          <div class="error" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
            Proszę podać prawidłowy adres email.
          </div>
        </div>
  
        <div class="form-group">

          <!-- Password label -->
          <label for="password">Hasło</label>

          <!-- Password input -->
          <input
            id="password"
            type="password"
            formControlName="password"
            placeholder="Podaj hasło"
          />
          <div class="error" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
            Hasło jest wymagane.
          </div>
        </div>
  
        <button type="submit" [disabled]="loginForm.invalid">Zaloguj</button>
      </form>
    </div>
  </div>
